/* ----------overal div style---------- */
.inndeDiv{
    margin-top: 70px;
    animation: openModal ease-in-out 0.5s forwards;


}

@keyframes openModal {
    0% {
        opacity: 0;
        transform: translateY(-100%);

    }
    50% {
        opacity: 0;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
.responsiveTitle
/* ----------route style---------- */
.routeBackground{
    background-color: #E6EDFD;
    height: 34px;
    border-radius: 5px;
    margin-top: 30px;
}

/* ----------photo gallery style---------- */
.selectedPhotoDiv{
    width: 100%;
height: 380px;
margin-bottom: 20px;
}

.subPhotoDiv{
width: 100%;
height: 100px;
}
.mainImg{
    object-fit: cover !important;
    height: auto;
    transition: transform .5s ease;
    width: 100%;
    border-radius: 5px;

    height: 100%;
}
.subImg{
    object-fit: cover !important;
    height: auto;
    transition: transform .5s ease;
    width: 100%;
    border-radius: 5px;

    height: 100%;
}

.subImg:hover{
    transform: scale(1.07);
}
.imageGalleryDiv{
    padding-left: 30px;
    margin-top: 20px;
    direction: ltr;
}
.activeImage{
    object-fit: cover !important;
    height: auto;
    transition: transform .5s ease;
    width: 100%;
    border-radius: 5px;
    height: 100%;
    border: 4px solid #4D76C8;
}

.activeImage:hover{
    transform: scale(1.07);
}


.colStyle{
    padding: none !important;
}

.photoSwipeDiv img{
    max-width: none;
    object-fit: contain
    
}
.stockDivRes{
    display: none;
}
/* ---------product Brief style---------- */
.productBriefDiv{
    margin-top: 40px;
}
.productBriefDiv h4{
    font-size:35px ;
    color: #354063;
    font-family: Dana1;
    padding: 0px;
    margin: 0px;
}
.productTitleDiv{
    margin: 0px;
    padding: 0px;
}

.responsiveTitle{
    display: none;
    margin-right: auto;
    margin-left: auto;
    max-width: 500px;
}
.normalTitle{
    display: block;
}

.productTitleDiv h1{
    font-family: Dana1;
    color: #354063;
}

.rateTextStyle{
    display: inline-block;
    font-size: 15px;
    color: #354063;
    margin-right: 5px;
}
.horizonDiv{
    color: #354063;
    display: inline-block;
    font-size: 18px;
    margin-right: 3px;
}
.commentText{
    display: inline-block;
    font-size: 15px;
    color: #354063;
    margin-right: 5px;
}
.line{
    width: 100%;
    height: 2px;
    background-color: #354063;
}
.featuresDiv h3{
    font-size: 25px;
    color: #1043A9;
    font-family: Dana1;
    margin-right: 10px;
    margin-bottom: 10px;
}
.featuresDiv{
    margin-top: 22px;
}
ul  {
    list-style-position:outside;
    font-size: 16px;
    margin-right: 0px;
    padding-right: 0px;
    margin-top: 12px;
    list-style-position: inside;
    
    
}
ul li {
    margin:0; padding:0;
}
.meterDiv{
    background-color: #354063;
    
    width: fit-content;
    border-radius: 4px;
    display: inline-block;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}
.meterDiv h4{
    font-size: 17px;
    padding: 8px 10px 8px 10px;
    color: #EEEEEE;
}



.priceItSelfDiv{
    display: inline-block;
    padding: 0px 6px 0px 0px;

}
.priceItSelfDiv h4{
    display: inline-block;
    font-size: 17px;
    color: #303030;
    padding-top: 5px;

}

.priceDiv{
    display: inline-block;
    padding: 0px 0px 0px 7px;
    border: solid #dae2fc 3px;
    background-color: #f0f0f0;
    border-radius: 7px;
    
}
.priceUnit{
    margin-right: 5px;
    color: #303030;
    font-size: 17px;
    font-family: Dana1;
}


.purchaseDiv{
    margin-top: 20px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
}
.purchaseTitle h4{
    font-size: 23px;
    color: #354063;
    font-family: Dana1;
    margin-right: 14px;
    margin-bottom: 16px;
    margin-top: 6px;

}
.contactBtn{
    width: 100%;
    background-color: #1043A9;
    padding: 5px 0px 5px 0px;
    color: #EEEEEE;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    transition: 0.1s ease-in-out all;
    font-family: Dana1;
    border: 5px solid #1043A9;

}
.contactBtn:hover{
background-color: #4D76C8;
border: 5px solid #4D76C8;

}
.contactBtn:active{
    background-color: #CCD9F7;
    color: #1043A9;
    
    border: 5px solid #CCD9F7;

    
    }
.purchaseBtn{
    margin-top: 10px;
}

    .whatsAppBtn{
        width: 100%;
        background-color:#00CC81;
        padding: 5px 0px 5px 0px;
        color: #202020;
        font-size: 20px;
        border: none;
        margin-top: 5px;
        border-radius: 5px;
        transition: 0.1s ease-in-out all;
        font-family: Dana1;
        border: 5px solid #00CC81;
    
    }
    .whatsAppBtn:hover{
        background-color: #48ecb0;
        border: 5px solid #48ecb0;
    }
    .whatsAppBtn:active{
        background-color: #a7eed4;
        color: #1d1d1d;
        border: 5px solid #a7eed4;
    }

    .imageGalleryDiv{
        max-width: 100%;
        padding: 0px;
        margin: 0px;
    }


    .stockStyle{
        display: inline-block;
        padding: 0px 0px 0px 7px;
        border: none;
        background-color: #e3e8fc;
        border-radius: 7px;
        float: left;
        opacity: 1;
        margin-top: 5px;
    }
    .stockStyle h4{
        color: #354063;
        font-size: 13px;
        padding: 8px 3px 8px 6px;
        display: inline-block;
    }
    .availableSurfaceDiv{
        font-size: 13px !important;
        color: #354063 !important;
        font-family: Dana2 !important;
        
    }
    .availableSurfaceDiv span{
    
        color: #cc0000;
    }
    .stockDiv{
        display: inline;
    }
    .photoGalleryNormal{
        display: inline-block;
    }
    .photoGalleryNormalResponsive{
        display: none;
    }
    
/* ---------product navigation style---------- */

.unortherListActive{

    border: 5px solid #1043A9;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
}
.unortherList{
    background-color: #E6EDFD;
    list-style: none;
    display: flex;
    margin-top: 0px;


}
.unortherList li{
    cursor: pointer;
    transition: 0.1s ease-in-out all;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    list-style: none;    
}

.unortherList li:hover{
    background-color: #CCD9F7 ;
}


/*------------- table style -------------*/
.featuresTable{
    margin-top: 30px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
     

}
.styled_table{
    width: 100%;
    margin-top: 10px;
    margin-right: 20px;
    text-align: right;
}
.featuresListUl{
    padding: 0;
    list-style: none;
    width: 100%;
    margin-bottom: 25px;
}
.featuresListUl li{
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-left: -10px;
    margin-bottom: 10px;
    line-height: 50px;
}

.itemValue{
    font-size: 16px;
    font-family: Dana1;
    color: #181818;
}

.itemName{
    font-size: 16px;
    font-family: Dana2;
    color: #757575;
    margin-left: 30px;
    width: 200px;
}


  /*------------- review section -------------*/
.reviewDiv{
    margin-top: 20px;
}
.reviewContentDiv{
    margin-top: 10px;

}
.reviewDiv p{
font-size: 1rem;
line-height: 2.1;
color: #232933;
font-family: Dana2;
text-align: justify;
}
.reviewDiv h4{
    font-family: Dana1;
    font-size: 1.7rem;
    margin-bottom: 10px;
    color: #1043A9;
}
.reviewDiv img{
    border-radius: 2px;
    object-fit: cover !important;
    height: auto;
    width: 100%;
    max-width:700px;
}
.reviewHeaderDiv{
    text-align: center;
}
.reviewHeaderDiv h3{
    font-family: Dana1;
    padding-bottom: 2px;
    color: #354063;
    display: inline-block;
    border:0px solid #354063;
    border-bottom-width: 3px;
}
.reviewHeaderDiv h2{
    font-family: Dana1;
    color: #7a7d88;
    padding: 0px;
    margin-top: 0px;
    font-size: 12px;
}





  /*------------- comment section -------------*/
  .commentSectionDiv{
    text-align: right;
}

.commentSectionHeaderDiv{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    margin-right: 30px;
    padding: 0px 20px 0px 20px;
    width: 100%;
    align-content: center;
    align-items: center;
    
}

.commentBoxDiv{
    margin-top: 0px;
    padding: 0px;
}
.commentDiv{
    margin-top: 12px;
}
.theRateItSelfDiv{
    float: left;
     width: 50%;


}
.theRateItSelfDiv h5{
    color: #354063;
    font-size: 15px;
    font-family: Dana1;
    float: left;

}
.theRateItSelfDiv h5 span{
    color: #1043A9;
    font-size: 15px;
    font-family: Dana1;

}
.theHeaderItSelfDiv{
    width: 50%;
}


.loaderDiv{
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;

}











@media only screen and (max-width: 1200.98px) {
    
}
@media only screen and (max-width: 992.98px) {
stockStyle
    .productTitleDiv h1{
        
        padding-bottom: 4px;
    }
    .rateTextStyle{
        font-size: 13px;

    }
    .commentText{
        font-size: 13px;
    }
    .responsiveTitle{
        display: block;
        margin-top: 16px;

    }
    .normalTitle{
        display: none;
    }
    .featuresDiv{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .productBriefDiv{
        margin-top:15px;
    }
    .imageGalleryDiv{
        max-width: 500px;
        margin: 0px auto 0px auto;
    }
    .briefSecResponsive{
        max-width: 500px;
        margin: 0px auto 0px auto;
    }
    .featuresAndPriceResponsive{
        padding: 0px 20px 0px 20px;
    }
    .featuresDiv h3{
        margin: 0px;
        font-size: 20px;
        margin-bottom: 0px;
    }
    .featuresUl{
        margin-top: 8px;
        margin-bottom: 10px;
    }
    .featuresUl  li{
        font-size: 14px;
    }
    .meterDiv h4{
        font-size: 14px;
    }
    .priceItSelfDiv h4{
        font-size: 14px;
    }
    .purchaseDiv{
        margin-top: 12px;
    }
    .line{
        width: 100%;
        height: 1.5px;
        background-color: #354063;
    }
    .purchaseTitle h4{
        font-size: 20px;
    }
    .contactBtn{
        font-size: 16px;
    }
    .whatsAppBtn{
        font-size: 16px;
    }
    .unortherList li{
        font-size: 13px;
        padding: 8px 8px 8px 8px;
    }
    .unortherListActive{

        border: 3px solid #1043A9;
        border-top-width: 0px;
        border-right-width: 0px;
        border-left-width: 0px;
    }
    .itemName{
        width: 140px;
        padding-right: 0px;
        font-size: 12px;
        margin: 0px;
    }
    .itemValue{
        font-size: 12px;
    }
    .featuresTable{
        margin-top: 10px;
    }
    .featuresTable h4{
        font-size: 18px !important;
    }
    .featuresListUl li{
        margin-right: 8px;

        margin-bottom: 0px;
    }
    .reviewHeaderDiv h3{
        font-size: 18px;
        border-bottom-width: 2px;

    }
    .reviewHeaderDiv h2{
        font-size: 11px;
    }
    .productRateDiv{
        font-size: 13px !important;
    }
    .theHeaderItSelfDiv h4{
        font-size: 18px !important;
        
    }
    .theRateItSelfDiv h5{
        font-size: 12px !important;
        padding: 0px !important;
    }
    .stockStyle{
        display: inline-block;
        padding: 0px 0px 0px 7px;
        border: none;
        background-color: #e3e8fc;
        border-radius: 7px;
        opacity: 1;
        margin-top: 4px;
    }
    .stockStyle h4{
        color: #354063;
        font-size: 11px;
        padding: 8px 3px 8px 6px;
        display: inline-block;
    }
    .stockStyle{
        display: inline-block;
        padding: 0px 0px 0px 7px;
        border: none;
        background-color: #e3e8fc;
        border-radius: 7px;
        float: left;
        opacity: 1;
        margin-top: 0px;
    }
    .stockStyle h4{
        color: #354063;
        font-size: 13px;
        padding: 5px 3px 5px 6px;
        display: inline-block;
    }
    .availableSurfaceDiv{
        font-size: 12px !important;
        color: #354063 !important;
        font-family: Dana2 !important;
    }
    .availableSurfaceDiv span{
    
        color: #cc0000;
    }
    .tikIcon{
        font-size:18px !important;
    }
    .stockDiv{
        display: none;
    }
    .stockDivRes{
        display: block;
    }
    .photoGalleryNormal{
        display: none;
    }
    .photoGalleryNormalResponsive{
        display: block;
    }
}
.styleIcons{
    font-size: 20px;
}

@media only screen and (max-width: 768.98px) {

 }

 @media only screen and (max-width: 576.98px) {
    .productTitleDiv h1{
        font-size: 22px;
        padding-bottom: 4px;
    }
    .purchaseTitle h4{
        font-size: 14px;
        margin-top: 10px;
    }
    .productRateDiv{
        font-size: 10px !important;
    }
    .whatsAppBtn{
        font-size: 14px;
    }
    .contactBtn{
        font-size: 14px;
    }
 }
 @media only screen and (max-width: 356.98px) {
    .purchaseTitle h4{
        font-size: 13px;
        margin-top: 10px;
    }
 }
